<div *ngFor="let chapter of chapters"
[ngClass]="styleModeService.mode === 'light' ?
'max-w-2xl px-8 py-4 mx-auto bg-white rounded-lg shadow-md' :
'max-w-2xl px-8 py-4 mx-auto rounded-lg shadow-md bg-gray-800'"
>
  <div class="flex items-center justify-between">
      <span
      [ngClass]="styleModeService.mode === 'light' ?
      'text-sm font-light mt-3 text-center text-gray-600' :
      'text-sm font-light mt-3 text-center text-gray-400'"
      >رمضان, -13</span>
      <!-- <a class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-200 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500">Design</a> -->
  </div>

  <div class="mt-2">
      <a routerLink="chapter/{{chapter.id}}"
      [ngClass]="styleModeService.mode === 'light' ?
      'text-2xl font-bold text-gray-700 hover:text-gray-600 hover:underline' :
      'text-2xl font-bold text-white hover:text-gray-200 hover:underline'"
      >{{chapter.name}}</a>
      <p
      [ngClass]="styleModeService.mode === 'light' ?
            'mt-2 text-gray-600' :
            'mt-2 text-gray-300'"
      >{{chapter.name}}</p>
  </div>

  <div class="flex items-center justify-between mt-4">
    <button
    [ngClass]="styleModeService.mode === 'light' ?
    'text-blue-600 hover:underline' :
    'text-blue-400 hover:underline'"
    routerLink="chapter/{{chapter.id}}">اقرأ</button>


      <div class="flex items-center">
          <img class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block" src="" alt="">
          <a
          [ngClass]="styleModeService.mode === 'light' ?
          'font-bold text-gray-700 cursor-pointer' :
          'font-bold cursor-pointer text-gray-200'"
          >محمد ابن عبد الله</a>
      </div>
  </div>
</div>
