@use '../../styles/styles.variables.scss' as *;

.main-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  app-top,
  app-mobile {
    background: $primary-color;   // from _variables.scss
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  app-bottom {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;     // from _variables.scss
  }

  app-mobile {
    display: none;
  }

  @media screen and (max-width: 777px) {
    app-bottom,
    app-top {
      display: none;
    }

    app-mobile {
      display: flex; // keep flex for alignment
    }
  }
}
