@use '../../_variables' as vars;

.main-header {
  width: 100vw;
  position: sticky;
  top: 0;

  app-top,
  app-mobile {
    background: vars.$color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  app-bottom {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$color-white;
  }

  app-mobile {
    display: none;
  }

  @media screen and (max-width: 777px) {
    app-bottom,
    app-top {
      display: none;
    }

    app-mobile {
      display: block;
    }
  }
}
