<app-islam></app-islam>
<p>jurisprudences works!</p>
  <p>قال الله تعالى
    : وَمَا كَانَ الْمُؤْمِنُونَ لِيَنْفِرُوا كَافَّةً فَلَوْلَا نَفَرَ مِنْ كُلِّ فِرْقَةٍ مِنْهُمْ طَائِفَةٌ لِيَتَفَقَّهُوا فِي الدِّينِ وَلِيُنْذِرُوا قَوْمَهُمْ إِذَا رَجَعُوا إِلَيْهِمْ لَعَلَّهُمْ يَحْذَرُونَ التوبة: 122.

  وإذا لم توفر الأمة هؤلاء العلماء، وكانت تعاني  مثلاً- نقصًا في علماء التفسير أو علماء الفقه أو الحديث أو غيره، فإن الأمة جميعها تأثم إلى أن توفر هذه الطائفة.
  </p>

<p>

أولاً: أنواع الفقه:

1- فقه النص.

2- فقه المآلات.

3- فقه الواقع.

4- فقه تنزيل النص على الواقع.

5- فقه ما سيقع.
</p>
<p>

  الشرائع إنما وجدت لحماية مصالح البشرية، وشريعة الإسلام هي الشريعة الخاتمة التي ستبقى منهجاً للدنيا حتى يرث الله تعالى
  الأرض ومن عليها؛ وبالتالي كانت الشريعة الأشمل والأفضل في حماية مصالح العباد حفظاً للحياتين الدنيوية والأخروية، وكما
  قال الإمام الشاطبي في الموافقات: "إن الشارع قد قصد بالتشريع إقامة المصالح الأخروية والدنيوية، وذلك على وجه لا يختل لها
  به نظام".

  وكي تحقق الشريعة مصالح العباد لابد أن تكون مرنة تسع تغير الأزمان والأحوال وتتوافق مع قيادتها للدنيا، وكي تحقق "ما
  تُحفظ به مصلحة الإنسان في الدين والدنيا" كما يقول الإمام الشاطبي.

  وفي الكلمات التالية تعريج مبسط وموجز لأنواع الفقه من حيث استخداماته في واقعنا، ومرور على منهج اختلاف الفتوى باختلاف
  الزمان والمكان، وعلى الله وحده التكلان.









  1- فقه النص:

  هو علوم الحديث والسنة النبوية، وعلوم القرآن، وعلم التفسير، وعلم القراءات واللغة، وبحدودٍ نسبية علم أصول الفقه.





  2- - فقه المآلات:

  هو النظر إلى نتيجة الفعل، وما يؤول إليه الحكم الشرعي.

  فقه المآلات هو الفقه الذي جعل الرسول صلى الله عليه وسلم يُبقي على المنافقين وهم يكيدون له، ويمكرون به، وقد أشار عليه
  أصحابه رضي الله عنهم بقتلهم والاستراحة من شرهم؛ فكان رده: "أخشى أن يتحدث الناس أن محمداً يَقتل أصحابَه".

  وكما قال العزيز الحكيم: "ولا تسبوا الذين يدعون من دون الله فيسبوا الله عدوا بغير علم"، إذ لا يكفي معرفة الحكم الشرعي
  واستخراجه (تنقيح المناط)؛ بل لا بد من استحضار مآلات هذا الحكم في الواقع وهل يحقق مقصود الشارع من تنزيله أم يترتب عليه
  عكس مقصوده (تحقيق المناط).

  إذا طُبق الحكم على الواقع قسراً ربما يفضي على عكس ما أريد منه، وهذا هو علم المآلات، أي ما تؤول إليه قضية تنزيل الفقه
  على الواقع، وهذا يحتاج إلى علم المقاصد، ومثاله حالة الأمر بالمعروف والنهي عن المنكر، حيث ذكروا أن المرء يأمر وينهى في
  حالة عدم نتوج مفسدةٍ أكبر بسبب هذا الأمر وذلك النهي، فحين يجد الآمر والناهي أن فعله سيؤول إلى مفسدةٍ أعظم، فعليه أن
  يكفَّ عن أمره أو نهيه.



  3- فقه الواقع:

  هو حسن تمثل مشاكل الواقع عن طريق الوعي الكامل، والتدبُّر اليقظ؛ فالمطلوب من (فقه الواقع) هو منهج التعامل مع الواقع،
  حيث يدرك المسلم حسن توجيه الشريعة له في الحياة العامة كما كان عليه الرسول صلى الله عليه وسلم والصحابة، ولا مانع هنا في
  عملية معرفة الواقع وتمثله من استخدام مناهج العلوم الإنسانية التي تبدو ضرورية في عملية الفهم.



  4- فقه تنزيل النص على الواقع:

  يعني البحث في الحكم الشرعي الموجود في النص الشرعي، وأعتقد أن لكل نص شرعي مقطوع بوروده يعمل حكماً شرعيًّا من نوع معين،
  المراد النظر فيه والنظر في الواقعة، وهذا يحتاج إلى علمين: علم أصول الفقه بصفة مطلقة، وعلم الفقه بمعناه الخاص، لذا لابد
  من توقع النتيجة المترتبة عن هذه العملية، فقد تكون إيجابية وقد تكون سلبية.. والواقع في كثير من الأحيان له مبررات
  موضوعية قد تعدل الحكم بصفة كبيرة أو بصفة قليلة وقد يوقفه بالمرة.

  فقه الواقع هو الفقه الذي يمكن من تنزيل الأحكام الشرعية ومقاصدها مراعاة للأولويات واستحضاراً للمقاصد وللمآلات، ومراعاة
  أيضاً للموازنة بين المصالح والمفاسد.



  5- فقه ما سيقع:

  هو فقه الموازنات وفقه الأولويات وفقه النوازل، لأن هذه كلها تدخل في مقاصد الشريعة، إن الأشياء ليست كلها في منزلة واحدة،
  وليست كل تكاليف الشرع سواء، كل تكليف له قيمة معينة، كما قال الله تعالى: "أَجَعَلْتُمْ سِقَايَةَ الحَاجِّ وعِمَارَةَ
  المَسْجِدِ الحَرَامِ كَمَنْ آمَنَ بِاللهِ والْيَوْمِ الآخِرِ وجَاهَدَ فِي سَبِيلِ اللهِ لا يَسْتَوُونَ عِندَ اللهِ"،
  لابد أن ندخل في هذا فقه الموازنات بين المصالح بعضها وبعض، كما أن الأولويات من الأمور التي راعتها الشريعة بشكل كبير،
  وفقه النوازل هو فقه "الطوارئ" إن جاز التعبير.



  إن الفقه هو إعمال العقل في تبين مقاصد الشارع في كل النصوص والأحكام، وسبر أغوار معانيها، والكشف عن غاية الشارع من
  تشريعاته، رعاية لمقاصد الشريعة -في فقه النص وتنزيله- التي تشكل الضابط المنهجي، والعمق الثقافي، والرؤية المستقبلية
  للأمة في المجالين التشريعي والحضاري.



  ثانياً: اختلاف الفتوى باختلاف الزمان والمكان:

  يقول الإمام ابن عابدين في رسالته "نشر العرف فيم بني من الأحكام على العرف": "إن كثيراً من الأحكام تختلف باختلاف الزمان
  لتغير عرف أهله، أو لحدوث ضرورة أو لفساد الزمان، بحيث لو بقي الحكم على ما كان عليه أولاً للزم منه المشقة والضرر بالناس،
  ولخالف قواعد الشريعة المبنية على التخفيف والتيسير، ودفع الضرر والفساد....) رسائل ابن عابدين.

  ويقول الإمام ابن القيم في "إعلام الموقِّعين" في فصل سماه: فصل وجوب تغير الفتوى بتغير الزمان والمكان والعرف والحال
  والنيات، إلى آخره، وقال في مقدمة هذا الفصل: "اعلم أن الشريعة عدل كلها، رحمة كلها، مصلحة كلها، حكمة كلها، وأي مسألة
  خرجت فيها من العدل إلى الجور أو من المصلحة إلى المفسدة، أو من الحكمة إلى العبث، أو من الرحمة إلى ضدها، فليست من
  الشريعة في شيء، وإن أُدخلت فيها بالتأويل".

  وعلى هذا الأساس أسست القاعدة الفقهية القائلة: (لا يُنَكر تغير الأحكام بتغير الأزمان)، ومن أمثلة هذه القاعدة :

  - أن الإمام أبا حنيفة رحمه الله يرى عدم لزوم تزكية الشهود ما لم يطعن فيهم الخصم، اكتفاء بظاهر العدالة، وأما عند صاحبيه
  أبي يوسف ومحمد رحمهما الله فيجب على القاضي تزكية الشهود بناء على تغير أحوال الناس.

  - كذلك أفتى المتأخرون بتضمين الساعي بالفساد لتبدل أحوال الناس مع أن القاعدة: (أن الضمان على المباشر دون المتسبب) وهذا
  لزجر المفسدين.



  لماذا التغيُّر؟

  لأن الشرائع إنما وجدت لحماية مصالح البشرية، وهذه المصالح لا بد متطورة ومتغيرة، فما يعتبر مصلحة في زمن قد لا يعد كذلك
  في زمن آخر، وما يعتبر حسناً في أمة قد يعتبر غير مناسب في أمة أخرى، ولما كانت الشريعة الإسلامية شريعة البشرية من يوم
  أرسل الله بها إلى يوم يرث الله الأرض ومن عليها، كان لابد لها -لتضمن مصالح البشر وتؤمنها دائماً- من أن تكون نصوصها مرنة
  تحتمل هذا التطور وتواكبه.

  وهناك عدد كبير من القواعد الفقهية التي تثبت ذلك كله وتأكده: "الضرورات تبيح المحظورات"، "الأمر إذا ضاق اتسع"، "المشقة
  تجلب التيسير"، "دفع الضرر أولى من جلب المصلحة"، "ارتكاب أخف الضرين"، "لا ضرر ولا ضرار"، "من استعجل الشيء قبل أوانه
  عوقب بحرمانه"، "تُدرأ الحدود بالشبهات"، "يُنكَر المتفق عليه ولا يُنكَر المختلف فيه"... إلخ.

  كما أن العقل الفقيه والمجتهد يعمل في منطقة ما لا نص فيه ليملأ هذا الفراغ باستنباط الحكم عن طريق القياس، عن طريق
  الاستحسان، عن طريق مراعاة المصلحة المرسلة، عن طريق مراعاة العُرف، عن طريق الرعاية العامة لمقاصد الشريعة، والأمور
  الأخرى التي فيها نصوص يعمل الفقيه في ضوء هذه النصوص ليستنبط منها الأحكام، يحمل الخاص على العام، المطلق على المقيد،
  يوازن بين النصوص، يرد المتشابه إلى المحكم، والظني إلى القطعي والجزئي إلى الكلي، فمن خلال هذا يعمل الفقيه.

  ولكن ليس معنى هذا أن عليها أن تواكب كل تحول وتوافق كل تغيُّر، فقد يكون التغيُّر إلى أدنى، وقد يكون التغيُّر في غير
  الخط الذي رسمته هذه الشريعة مما يأباه الله تعالى، ولذلك كانت هذه النصوص مرنة في حدود لا يمكن أن تتعداها، ومحتملة ولكن
  للمصالح التي رضي الله عنها، ثم إن هنالك من المصالح ما يعتبر ثابتاً غير قابل للتغيُّر، أو أن الشريعة الإسلامية لا ترضى
  بتغيُّره، وهذا هو الأهم من أحكام الشريعة، من ذلك مثلاً الكبائر والفرائض، فإنها أحكام لا تقبل التغيير، ولذلك كانت
  النصوص فيها قاطعة واضحة لا تحتمل التبديل والتغير في هذه الأحكام، كحرمة الزنى والسرقة، فإنهما من الكبائر التي ستبقى
  ويجب أن تبقى كذلك في كل العصور، ومن ذلك فرضية الصلاة والزكاة والحج والصوم وغيرها، فإنها من الفرائض التي لا تقبل
  التغيير والتبديل، ولا يجوز أن تقبله بحال.

  لكن هناك أمور تحتمل ذلك التغيُّر بتغير الزمان والمكان، وهي تلك الأحكام التي بنيت على العرف أو استندت في تحديدها
  وتقييدها إلى العرف، فإنها هي التي تتبدل بتبدل الزمان، ومن ذلك كثير من الأحكام المدنية والمالية، كالشروط العقدية،
  والكفاءة في الزواج، وغير ذلك، وطبيعي أمام هذا الاحتمال لتطور الأحكام الذي تتطلبه طبيعة خلود هذه الشريعة أن تختلف أفهام
  الفقهاء وأنظارهم تبعاً لاختلاف بيئاتهم وأزمانهم كما تقدم.

  وعلى هذا الأساس أسست القاعدة الفقهية السابقة: (لا ينكر تغيُّر الأحكام بتغيُّر الأزمان) تبعاً للمصلحة، لكن المصلحة لابد
  لها من ضوابط، ومن ضوابطها ألا تصادم نصًّا شرعيًّا ولا قاعدة شرعية، ولا تصادم مصلحة أهم منها، ولا تجلب مفسدة أكبر من
  المصلحة.



  هذه دراسة موجزة لأنواع الفقه والموقف من تغير الفتوى.. أسأل الله تعالى أن تكون وافية جلية لتعم الفائدة، وتسهم في توعية
  الأمة بدينها.
</p>
