[submodule "src/app/authorization"]
	path = src/app/authorization
	url = git@github.com:jihadelsayed/authorization.git
[submodule "src/app/not-found"]
	path = src/app/not-found
	url = git@github.com:jihadelsayed/not-found.git

