<div class="py-3 mt-3 -mx-3 overflow-y-auto whitespace-nowrap scroll-hidden">
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">الاخبار</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">المقالات</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">الرموز الاسلامية هلال</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">اركان الاسلام</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">القران</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">الشريعة</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">المنبر</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">المنامات</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">الجوامع</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="#">فتاوي</a>
  <a [ngClass]="styleModeService.mode === 'light' ?
  'mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform hover:text-blue-600 hover:underline md:my-0' :
  'mx-4 text-sm leading-5 transition-colors duration-200 transform text-gray-200 hover:text-blue-400 hover:underline md:my-0'"
    routerLink="quran">القران</a>
</div>
<p [ngClass]="styleModeService.mode === 'light' ?
'max-w-2xl mx-auto my-6 text-center text-gray-500' :
'max-w-2xl mx-auto my-6 text-center text-gray-300'">
صورة للاديان مع النجوم


  الواحد للاسلام
  المثلث الماسونية
  المثلثين المسيحية
  الثلاث مثلثات
النجمة الثنائية المسيحية
  النجمة الثلاثية النجوم
  النجمة الرباعية المسيحيين
  النجمة الخماسية للشيطان والشهوات
  النجمة السداسية لليهود
  النجمة الثمانية للهندوس
</p>
<p [ngClass]="styleModeService.mode === 'light' ?
'max-w-2xl mx-auto my-6 text-center text-gray-500' :
'max-w-2xl mx-auto my-6 text-center text-gray-300'">

  اقسام الوحي:
  وحي الحقيقة هو جبريل يزور الانبياء
  وحي المعنى هو الحديث القدسي معناه من الله ولفظه النبي
  وحي الوسوسة من الشياطين الى اوليائهم
  وحي الاشارة هو الاشارات باليد
  وحي الالهام هذا الوحي موجود عند كل احد حتى الحيوانات والنحل وام موسى
  </p>
