<button
  class="flex items-center px-3 py-2 mx-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform bg-gray-500 rounded-md hover:bg-blue-600 md:mx-2 md:w-auto"
  (click)="logIn()">
  <span class="mx-1">تسجيل الدخول</span>
</button>
<a i18n
  class="block w-1/2 px-3 py-2 mx-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 md:mx-0 md:w-auto"
  (click)="SignUp()">انضم مجانا
</a>
