/* src/styles/styles.scss */

/* Import global variables */
 @use './styles.variables.scss' as *;

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; // Match your fixed header height
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $neutral-color-light;
  color: $font-color-paragraph;
  padding: 0;
  margin: 0;
}

header {
  z-index: 100;
}

/* Buttons */
.button {
  background-color: $secondary-color;
  color: $font-color-primary;

  &:hover {
    background-color: $tertiary-color;
    color: $font-color-primary;
  }
}

.cta-button {
  background-color: $tertiary-color;
  color: $white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 16px;

  &:hover {
    background-color: $quaternary-color;
  }
}

/* Typography */
h2 {
  color: $font-color-h2;
}

li a {
  text-decoration: none !important;
  color: $font-color-link;

  &:hover {
    text-decoration: underline;
    color: $font-color-link-hover;
  }
}

li {
  list-style: none;
}

/* Layout Utilities */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 0;
}

.flex-reverse {
  flex-direction: row-reverse;
}

/* UI Elements */
hr,
br {
  margin: 64px 0;
  width: 100%;
}

.display_none {
  display: none;
}

/* Responsive */
@media (max-width: 800px) {
  .container-card {
    width: 100%;
    padding: 0;
  }
}
