<!-- <div class="py-3 mt-3 -mx-3 overflow-y-auto whitespace-nowrap scroll-hidden">
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">السماوات</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">النجوم</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الكواكب</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الاقمار</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">البحار</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الدواب</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">النباتات</a>
</div> -->
<div class="py-3 mt-3 -mx-3 overflow-y-auto whitespace-nowrap scroll-hidden">
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الجمادات</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">النباتات</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الحيوانات</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الانس</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الجن</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الملائكة</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">البكتريا</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الجن</a>
    <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">حيوانات</a>
</div>
<p>
  عجائب المخلوقات وغرائب الموجودات

</p>
-----------------------------------
<p>
  الخصائص للمخلوقات
  وخصائص الله او صفاته
الحمد الله الذي خلق السماوات والارض وجعل الظلمات والنور
لهم دار السلام عند ربهم

بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ

سَبِّحِ اسْمَ رَبِّكَ الْأَعْلَى (1) الَّذِي خَلَقَ فَسَوَّى (2) وَالَّذِي قَدَّرَ فَهَدَى (3)

قَالَ رَبُّنَا الَّذِي أَعْطَىٰ كُلَّ شَيْءٍ خَلْقَهُ ثُمَّ هَدَىٰ
وقال الضحاك عن ابن عباس : جعل الإنسان إنسانا ، والحمار حمارا ، والشاة شاة .
</p>
<p>

الوحي
اذ يوحي ربك الى الملائكة اني معكم فثبتوا الذين امنوا


قُلْ أَئِنَّكُمْ لَتَكْفُرُونَ بِالَّذِي خَلَقَ الأَرْضَ فِي يَوْمَيْنِ وَتَجْعَلُونَ لَهُ أَندَادًا ذَلِكَ رَبُّ الْعَالَمِينَ

وَجَعَلَ فِيهَا رَوَاسِيَ مِن فَوْقِهَا وَبَارَكَ فِيهَا وَقَدَّرَ فِيهَا أَقْوَاتَهَا فِي أَرْبَعَةِ أَيَّامٍ سَوَاء لِّلسَّائِلِينَ

ثُمَّ اسْتَوَى إِلَى السَّمَاء وَهِيَ دُخَانٌ فَقَالَ لَهَا وَلِلْأَرْضِ اِئْتِيَا طَوْعًا أَوْ كَرْهًا قَالَتَا أَتَيْنَا طَائِعِينَ

فَقَضَاهُنَّ سَبْعَ سَمَاوَاتٍ فِي يَوْمَيْنِ وَأَوْحَى فِي كُلِّ سَمَاء أَمْرَهَا وَزَيَّنَّا السَّمَاء الدُّنْيَا بِمَصَابِيحَ وَحِفْظًا ذَلِكَ تَقْدِيرُ الْعَزِيزِ الْعَلِيمِ


الوحي محرك الوجود


الانسان لايؤمن بالتخوم

لماذا للانسان لديه وعي موسيقي ميتافيزيقي رياضي  فني فلسفي

فاذا سويته ونفخت فيه من روحي فقعوا لهوا ساجدين
لانه سيتجاوزكم على مستوى الوعي
لانه سيصير اقدر ان يطلب الله
وان يفكر في
ويقارب الله
حتى منكم
لايعرف الله الى به
كتب راسن والس للوعي


تُسَبِّحُ لَهُ ٱلسَّمَٰوَٰتُ ٱلسَّبْعُ وَٱلْأَرْضُ وَمَن فِيهِنَّ ۚ وَإِن مِّن شَىْءٍ إِلَّا يُسَبِّحُ بِحَمْدِهِۦ وَلَٰكِن لَّا تَفْقَهُونَ تَسْبِيحَهُمْ ۗ إِنَّهُۥ كَانَ حَلِيمًا غَفُورًا

عالم المايكروبات روبرت كوخ

https://www.marefa.org/%D8%B1%D9%88%D8%A8%D8%B1%D8%AA_%D9%83%D9%88%D8%AE

أنطوني فان ليفينهوك
مخترع المايكروسكوب
https://ar.wikipedia.org/wiki/%D8%A3%D9%86%D8%B7%D9%88%D9%86%D9%8A_%D9%81%D8%A7%D9%86_%D9%84%D9%8A%D9%81%D9%8A%D9%86%D9%87%D9%88%D9%83#:~:text=%D8%A3%D9%86%D8%B7%D9%88%D9%86%D9%8A%20%D9%81%D8%A7%D9%86%20%D9%84%D9%8A%D9%81%D9%8A%D9%86%D9%87%D9%88%D9%83%20(%D8%A8%D8%A7%D9%84%D9%87%D9%88%D9%84%D9%86%D8%AF%D9%8A%D8%A9%3A%20Anton,%D8%A3%D9%88%D8%A7%D8%A6%D9%84%20%D8%A7%D9%84%D8%B9%D9%84%D9%85%D8%A7%D8%A1%20%D8%A7%D9%84%D8%B0%D9%8A%D9%86%20%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D9%85%D9%88%D8%A7%20%D8%A7%D9%84%D8%B9%D8%AF%D8%B3%D8%A7%D8%AA.

عدم الوجدان لايعني عدم الوجود
وجود الله ضمانة  على الا يهدر وجود اي موجود
اي موجود يحب ان يوعى به
ان يوجد يعني ان يعلم
اذا لم يعلم اذا لم يوجد
بيرلك

ابو حامد الغزالي
كل ماوجد او سيوجد في علم الله الازلي
لذلك الله عندما يريده ان يكون يقول له كن فيكون
والتكوين يكون له تكوين تصويري
اي يخرجه من رتبة الى رتبة
لذلك اي شيء
له رتبة في علمك
له رتبة في حسنا
له رتبة في خيالنا
له رتبة في مستوى العقل التجريدي من كلمة منبر
له رتبة عينية تشخيصية منفصلة عني وعنك
وله رتبة وجود كتبي
او وجود صوري اذا صورته
الاهم من هذا كله هو رتبة الوجود العلمي في علم الله

لم العلم يكون علم محيطا قيوميا مهيمن دقيقا لايدع شيء من اوضاع الشيء الى حاط به ومقادره الى حاط به لايضيف اي شيء بين وجود الشيء في الخارج ووجوده في العلم

اذا كان الطيف المراي بطول واحد متر الى اثنان متر
فبقيو الطيف غير المراي يساوي مثةوخمسين مليون كيلو متر
فلا اقسم بما تبصرون ومالاتبصرون
اذا هنالك اشياء الان يمكن ان ترا ضمن اطياف اخرى
300 مليون معلومة تدخل الى دماغنا في كل دقيقة
الدماغ لايعالج منها الى 3 ملايين

ولا يعلم جنود ربك الى هو

والطير صافات كل قد علم صلاة وتسبيحه
ما عضد شجر ولا قطع نبات الى بتقصيره في التسبيح


John Archibald Wheeler the techer of Richard Feynman
mystical theory
scientific theory

</p>
