<nav class="menu">
    <a href="/about" class="menu-item">
        <img src="assets/category/Chat.png" alt="Logo">
        
        <span class="menu-item-text">Chat</span>
    </a>
    <a href="/about" class="menu-item">
        <img src="assets/category/Male User.png" alt="Logo">
        
        <span class="menu-item-text">Group</span>
    </a>
    <a href="/about" class="menu-item">
        <img src="assets/category/Megaphone.png" alt="Logo">
        
        <span class="menu-item-text">Megaphone</span>
    </a>
    <a href="/about" class="menu-item">
        <img src="assets/category/Search.png" alt="Logo">
        
        <span class="menu-item-text">Search</span>
    </a>

    <a href="/about" class="menu-item">
        <img src="assets/category/Youtube Live.png" alt="Logo">
        
        <span class="menu-item-text">Youtube Live</span>
    </a>

    <a href="/about" class="menu-item">
        <img src="assets/category/Image.png" alt="Logo">
        
        <span class="menu-item-text">Images</span>
    </a>
    <a href="/about" class="menu-item">
        <img src="assets/category/Video.png" alt="Logo">
        
        <span class="menu-item-text">Video</span>
    </a>
    <a href="/about" class="menu-item">
        <img src="assets/category/People.png" alt="Logo">
        
        <span class="menu-item-text">People</span>
    </a>

    <a href="/about" class="menu-item">
        <img src="assets/category/Literature.png" alt="Logo">
        
        <span class="menu-item-text">Literature</span>
    </a>
    <a href="/about" class="menu-item">
        <img src="assets/category/Blog.png" alt="Logo">
        
        <span class="menu-item-text">Blog</span>
    </a>

    <a href="/about" class="menu-item">
        <img src="assets/category/rating.png" alt="Logo">
        
        <span class="menu-item-text">rating</span>
    </a>

    <a href="/about" class="menu-item">
        <img src="assets/category/Webcam.png" alt="Logo">
        
        <span class="menu-item-text">Webcam</span>
    </a>

    <a href="/about" class="menu-item">
        <img src="assets/category/News.png" alt="Logo">
        
        <span class="menu-item-text">News</span>
    </a>

</nav>