/* Basic CSS for the menu */
.menu {
    max-width: 1440px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100% !important;
    padding: 7px 0 0px;
    border-right: 1px solid #dbdadd;
    border-left: 1px solid #dbdadd;
}

.menu-item svg, img {
    filter: invert(50%) sepia(50%) saturate(0%) hue-rotate(360deg);

    
}



/* Hover effect */
.menu-item:hover {
    background-color: #ddd;
}
.menu-item-text {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    margin-top: 6px;
    min-width: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .menu {
        width: 90vw;
    }
}
@media screen and (max-width: 777px) {
    
}