$burgerWidth: 24px;
$burgerBarHeight: 1px;
$burgerBarColor: #333;

.burger-menu {
  width: $burgerWidth;
  height: $burgerWidth;
  cursor: pointer;
  .burger-sidebar {
    // Your sidebar styles
    // Make sure it starts in a hidden state
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 68px;
    z-index: -1;

    transform: translateY(-150%);
    transition: transform 0.7s ease;
    background: aliceblue;
    overflow-y: scroll;
    left: 0;
  }
    // .burger-sidebar{
    //     position: absolute;
    //     top: 0;
    //     right: -85%;
    //     z-index: 999;
    //     display: block;
    //     float: none;
    //     width: 360px;
    //     background: white;
    //     box-shadow: 0 0;
    //     transform: translateX(100%);
    //     transition: all 0.7s ease;
    //     height: 100;
    //     &__line{
    //         display: inline-block;
    //         vertical-align: middle;
    //         margin: 6px 6px;
    //         transition: all .3s ease;
    //         border-radius: 2px;
    //         }
    //     &--top,&--bottom{
    //         width: 100%;
    //         height: $burgerBarHeight;
    //         background-color: $burgerBarColor;
    //         }
        
    // }
  .burger-container {
    position: relative;

    .burger-inner {
      position: absolute;
      width: $burgerWidth - 2 * $burgerBarHeight;
      left: 0px;
      top: 11px;
      border: $burgerBarHeight solid $burgerBarColor;
      transition: border-color .2s ease-in .2s;

      &::before {
        position: absolute;
        content: '';
        top: -6px;
        left: -$burgerBarHeight;
        width: $burgerWidth - 2 * $burgerBarHeight;
        border: $burgerBarHeight solid $burgerBarColor;
        transition: top .2s ease-in .3s, transform ease-in .2s;
      }

      &::after {
        position: absolute;
        content: '';
        top: 4px;
        left: -$burgerBarHeight;
        width: $burgerWidth - 2 * $burgerBarHeight;
        border: $burgerBarHeight solid $burgerBarColor;
        transition: top .2s ease-in .3s, transform ease-in .2s;
      }
    } 
  }
  &.active {
    .burger-sidebar {
        transform: translateY(0);
        z-index: 100;

      }
    .burger-container .burger-inner {
        border-color: transparent;
        transition: border-color ease-in .1s;
      }
    
      .burger-container .burger-inner::before {
        top: -$burgerBarHeight;
        transform: rotate(-45deg);
        transition: top ease-out .2s, transform .2s ease-out .3s;
      }
    
      .burger-container .burger-inner::after {
        top: -$burgerBarHeight;
        transform: rotate(45deg);
        transition: top ease-out .2s, transform .2s ease-out .3s;
      }
  }


}
