<div class="py-3 mt-3 -mx-3 overflow-y-auto whitespace-nowrap scroll-hidden">
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">العربية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الانغليزية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الماندرين الصينية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الهندية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الإسبانية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الفرنسية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">التركية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">البنغالية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الروسية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">البرتغالية</a>
  <a class="mx-4 text-sm leading-5 text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:my-0"
    routerLink="#">الإندونيسية</a>
</div>

الكتب التي نزلت من السماء نزلت باربع لغات
السامية هي اللغة العربية المعقدة بها نطق ادم وانتهت الى سام ابن نوح عليه السلام
بهذه اللغة نزلت منها مئة صحيفة على ابراهيم
الارمية
بها نزل التورة على موسى عليه السلام
اسم اللغة تغير لان اليهود عبروا الى الكثير من البلدان
السريانية
هي التي نزل بها الانجيل وترجمها عيسى الى الغة العبرانية
 الفصيحة العربية
باب العربية العراق ويمينها اليمن وبركتها الشام وقلبها مكة وعقلها المدينة
النحو والصرف
لانهم اهل الحكمة
الايمان يمان والفقه يمان  والحكمة يمانية

