
<p [ngClass]="styleModeService.mode === 'light' ?
'max-w-2xl mx-auto my-6 text-center text-gray-500' :
'max-w-2xl mx-auto my-6 text-center text-gray-300'">
الرسل والأنبياء هما كلمتان تستخدمان بشكل متبادل في العديد من الأحيان، ولكنهما يمثلان مفاهيم مختلفة في الإسلام.

الأنبياء هم الأشخاص الذين تم اختيارهم من قبل الله لنقل رسالته وتعاليمه إلى الناس، ويعتقد المسلمون أن الله أرسل العديد من الأنبياء إلى البشرية عبر التاريخ، منهم نوح وإبراهيم وموسى وعيسى ومحمد صلى الله عليه وسلم. ويتميز الأنبياء بأنهم يتلقون الوحي من الله ويعبرون عنه للناس، ويتمتعون بأخلاق وسلوكيات مثالية تجعلهم أهل الثقة والمثل الأعلى.

أما الرسل فهم الأنبياء الذين تم تكليفهم ببعث رسالة خاصة إلى قوم محدد، ويتميزون بأنهم يأتون برسالة جديدة تتضمن أحكامًا وتوجيهات خاصة بالمجتمع الذي تم بعثهم إليه، ويأتون بعلامات ومعجزات تثبت صدق رسالتهم ويجعلون الناس يؤمنون بها. وعلى الرغم من أن جميع الرسل هم أنبياء، إلا أن العكس ليس صحيح، حيث لا يكون كل الأنبياء رسلاً.

وبشكل عام، يعتبر الإسلام أن الأنبياء والرسل هم المرسلون من الله إلى البشرية لنقل رسالته، وتعتبر رسالتهم جزءًا من الوحي الإلهي الذي يجب على البشرية اتباعه وتطبيقه في حياتهم.
</p>
<<router-outlet></router-outlet>
>
