/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
body {
  background-color: #ffffff;
  letter-spacing: 1px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  // font-family: 'Source Sans Pro', sans-serif;
}
a {
  font-family: "Roboto", "Droid Arabic Kufi", serif;
  word-spacing: 1px;
}
a {
  font-family: "Roboto", "Droid Arabic Kufi", serif;
  word-spacing: 1px;
}
p {
  font-family: "Roboto", "Droid Arabic Kufi", serif;
  color: rgb(52, 137, 212);
}
.light-mode {
  background-color: #fff;
  color: #000;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
input[type="text"], button, select, textarea, option, img {
  //* Reset all *///
  border: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  outline: none;
  border-radius: 0px;
  margin: 0px;
  background-color: transparent;

}


