/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
a{
  font-family: 'Droid Arabic Kufi', serif;
  word-spacing: 1px;
}
a{
  font-family: 'Droid Arabic Kufi', serif;
  word-spacing: 1px;
}
p{
  font-family: 'Droid Arabic Kufi', serif;
  color:aliceblue;
}
