/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
body{
  letter-spacing: 1px;
  // font-family: 'Source Sans Pro', sans-serif;
}
a{
  font-family: 'Droid Arabic Kufi', serif;
  word-spacing: 1px;
}
a{
  font-family: 'Droid Arabic Kufi', serif;
  word-spacing: 1px;
}
p{
  font-family: 'Droid Arabic Kufi', serif;
  color:aliceblue;
}
.light-mode {
  background-color: #fff;
  color: #000;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
