<app-islam></app-islam>
<p>provisions
  المذاهب او الفقه

</p>
<div class="columns large-9 medium-9 small-12 left">
  <div class="article-text">
    <div id="mw-content-text" lang="ar" dir="rtl" class="mw-content-rtl">
      <div id="toc" class="toc">
        <div id="toctitle">
          <h2>محتويات</h2>
        </div>
        <ul>
          <li class="toclevel-1 tocsection-1"><a
              routerLink="#.D8.A3.D9.86.D9.88.D8.A7.D8.B9_.D8.A7.D9.84.D8.A3.D8.AD.D9.83.D8.A7.D9.85_.D8.A7.D9.84.D8.B4.D8.B1.D8.B9.D9.8A.D8.A9"><span
                class="tocnumber">١</span> <span class="toctext"><b>أنواع الأحكام الشرعية</b></span></a>
            <ul>
              <li class="toclevel-2 tocsection-2"><a
                  routerLink="#.D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D8.AA.D9.83.D9.84.D9.8A.D9.81.D9.8A"><span
                    class="tocnumber">١.١</span> <span class="toctext">الحكم التكليفي</span></a></li>
              <li class="toclevel-2 tocsection-3"><a
                  routerLink="#.D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D9.88.D8.B6.D8.B9.D9.8A"><span
                    class="tocnumber">١.٢</span> <span class="toctext">الحكم الوضعي</span></a></li>
            </ul>
          </li>
          <li class="toclevel-1 tocsection-4"><a
              routerLink="#.D9.85.D9.82.D8.A7.D8.B1.D9.86.D8.A9_.D8.A8.D9.8A.D9.86_.D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D8.AA.D9.83.D9.84.D9.8A.D9.81.D9.8A_.D9.88.D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D9.88.D8.B6.D8.B9.D9.8A"><span
                class="tocnumber">٢</span> <span class="toctext"><b>مقارنة بين الحكم التكليفي والحكم
                  الوضعي</b></span></a></li>
          <li class="toclevel-1 tocsection-5"><a routerLink="#.D8.A7.D9.84.D9.85.D8.B1.D8.A7.D8.AC.D8.B9"><span
                class="tocnumber">٣</span> <span class="toctext"><b>المراجع</b></span></a></li>
        </ul>
      </div>
      <ul class="related-articles-list1 columns related-articles-list1_mobile">
        <li><span class="icon"></span><span>اقرأ أيضاً</span></li>
        <li><a
            routerLink="%D8%AD%D9%83%D9%85_%D8%A7%D9%84%D8%B1%D8%A8%D8%A7_%D9%81%D9%8A_%D8%A7%D9%84%D8%A7%D8%B3%D9%84%D8%A7%D9%85"><span>
              حكم الربا في الاسلام</span></a></li>
        <li><a
            routerLink="%D8%A3%D9%86%D9%88%D8%A7%D8%B9_%D8%A7%D9%84%D8%A3%D9%85%D9%88%D8%A7%D9%84_%D8%A7%D9%84%D8%B1%D8%A8%D9%88%D9%8A%D8%A9"><span>
              أنواع الأموال الربوية</span></a></li>
      </ul>
      <script type="text/javascript" id="art_leaderboard_mobile">
        if (checkScenario("Leaderboard") == "mobile") {
          document.getElementById('art_leaderboard_mobile').insertAdjacentHTML('beforebegin',
            '<div id="Leaderboard" style="min-height: 100px; margin: 10px auto !important;"></div>');
        }

      </script>

      <h2><span class="mw-headline"
          id=".D8.A3.D9.86.D9.88.D8.A7.D8.B9_.D8.A7.D9.84.D8.A3.D8.AD.D9.83.D8.A7.D9.85_.D8.A7.D9.84.D8.B4.D8.B1.D8.B9.D9.8A.D8.A9"><b>أنواع
            الأحكام الشرعية</b></span></h2>
      <p>الحكم الشرعي عند الأصوليين ينقسم إلى قسمين: حكم تكليفي، وحكم وضعي.
      </p>
      <div id="Outstream"></div>
      <h3><span class="mw-headline"
          id=".D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D8.AA.D9.83.D9.84.D9.8A.D9.81.D9.8A">الحكم التكليفي</span>
      </h3>
      <p>هو خطاب الشارع المتعلّق بأفعال المكلفين على جهة الاقتضاء أو التخيير،<sup
          id="cite_ref-c57c0eaf_b0dd_43aa_b6ee_ea58845952a6_1-0" class="reference"><a
            routerLink="#cite_note-c57c0eaf_b0dd_43aa_b6ee_ea58845952a6-1">[١]</a></sup>ويمكن تقسيم الحكم التكليفي كما
        يأتي:<sup id="cite_ref-300d37f2_9afa_4ef4_9c1e_4da72475d2d5_2-0" class="reference"><a
            routerLink="#cite_note-300d37f2_9afa_4ef4_9c1e_4da72475d2d5-2">[٢]</a></sup></p>
      <ul>
        <li> <span class="ql-ui"></span><strong>الواجب</strong></li>
      </ul>
      <p>ما أمر به الشارع أمراً جازماً، أو هو ما يثاب فاعله ويُعاقب تاركه.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>المندوب</strong></li>
      </ul>
      <p>ما أمر به الشرع أمراً غيرَ جازم، أو هو ما يثاب فاعله ولا يُعاقب تاركه.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>المباح</strong></li>
      </ul>
      <p>ما خُيَّر به الشارع بين الفعل والترك، أو هو ما لا يترتب على فعله أو تركه ثواب ولا عقاب.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>المكروه</strong></li>
      </ul>
      <p>ما نهى عنه الشارع نهياً غير جازم، أو هو ما يثاب تاركه ولا يعاقب فاعله.
      </p>
      <script type="text/javascript" id="art_mpu_mobile">
        if (checkScenario("MPU") == "mobile") {
          document.getElementById('art_mpu_mobile').insertAdjacentHTML('beforebegin',
            '<div id="MPU" style="min-height: 250px; margin-bottom: 20px !important;"></div>');
        }

      </script>
      <ul>
        <li> <span class="ql-ui"></span><strong>المحرَّم</strong></li>
      </ul>
      <p>ما نهى عنه الشارع نهياً جازماً، أو هو ما يعاقب فاعله اختياراً ويثاب تاركه.
      </p>
      <h3><span class="mw-headline" id=".D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D9.88.D8.B6.D8.B9.D9.8A">الحكم
          الوضعي</span></h3>
      <p>خطاب اللَّه -تعالى- الذي اقتضى جعلُ أمرٍ علامة لحكم تكليفي، وجعله مرتبطًا به؛ بكونه سببًا له، أو شرطاً أو
        مانعاً،<sup id="cite_ref-a205d433_0cb2_4174_b9b1_a229f7d22f6b_3-0" class="reference"><a
            routerLink="#cite_note-a205d433_0cb2_4174_b9b1_a229f7d22f6b-3">[٣]</a></sup>وينقسم إلى:<sup
          id="cite_ref-e928996b_1b5e_409f_b175_0b1118d7cf29_4-0" class="reference"><a
            routerLink="#cite_note-e928996b_1b5e_409f_b175_0b1118d7cf29-4">[٤]</a></sup></p>
      <ul>
        <li> <span class="ql-ui"></span><strong>السبب</strong></li>
      </ul>
      <p>ما يلزم من وجوده وجود الحكم، ومن عدمه العدم، مثاله: <a class="external text"
          routerLink="https://mawdoo3.com/%D9%85%D8%AA%D9%89_%D9%8A%D9%83%D9%88%D9%86_%D9%88%D9%82%D8%AA_%D8%A7%D9%84%D8%B2%D9%88%D8%A7%D9%84">زوال
          الشمس</a>، بوجوده تجب صلاة الظهر، وبعدم وجوده لا تجب؛ أي لزم من وجوده وجود الحكم ومن عدمه عدم الحكم.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>الشرط</strong></li>
      </ul>
      <p>ما يلزم من عدمه عدم الحكم، ولا يلزم من وجوده وجود ولا عدم، كالطهارة للصلاة؛ فإنّ عدمها يلزم منه عدم صحة الصلاة،
        ولا يلزم من وجوده وجود الصلاة.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>المانع</strong></li>
      </ul>
      <p>ما يلزم من وجوده العدم، ولا يلزم من عدمه وجود ولا عدم، كالقتل من أحد الورثة؛ فإنَّه يلزم من وجوده الحرمان من
        الإرث.
      </p>
      <p>ويترتب على هذه الثلاثة السابقة الأقسام الآتية:<sup id="cite_ref-7be4d25f_e27d_4d76_89ad_34007804f019_5-0"
          class="reference"><a routerLink="#cite_note-7be4d25f_e27d_4d76_89ad_34007804f019-5">[٥]</a></sup></p>
      <ul>
        <li> <span class="ql-ui"></span><strong>الصحيح</strong> </li>
      </ul>
      <p>ما يعتدُّ به من العبادات، وما ينفذ من المعاملات، كالصلاة مُستوفية الشروط، منتفية عنها الموانع، وكعقد بيع مستوفٍ
        شروطه، منتفية عنه موانعه.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>الفاسد</strong> </li>
      </ul>
      <p>ما لا يعتدُّ به من العبادات، وما لا ينفذ من المعاملات، أو هو ما لم يستوفِ الشروط، أو وجد مانع يمنعه، كالصلاة
        بغير طهارة، وكبيعِ ما لا يملك.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>العزيمة</strong> </li>
      </ul>
      <p>الحكم الثابت <a class="external text"
          routerLink="https://mawdoo3.com/%D8%AA%D8%B9%D8%B1%D9%8A%D9%81_%D8%A7%D9%84%D8%A3%D8%AF%D9%84%D8%A9_%D8%A7%D9%84%D8%B4%D8%B1%D8%B9%D9%8A%D8%A9">بدليل
          شرعيٍ</a> خال من معارض راجح، كوجوب الصلوات الخمس.
      </p>
      <ul>
        <li> <span class="ql-ui"></span><strong>الرخصة</strong> </li>
      </ul>
      <p>ما شُرع لعذر مع قيام سبب تحريمه لولا العذر، أو ما ثبت على خلاف دليل شرعي لمعارض راجح؛ كأكل الميتة عند الاضطرار.
      </p>
      <h2><span class="mw-headline"
          id=".D9.85.D9.82.D8.A7.D8.B1.D9.86.D8.A9_.D8.A8.D9.8A.D9.86_.D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D8.AA.D9.83.D9.84.D9.8A.D9.81.D9.8A_.D9.88.D8.A7.D9.84.D8.AD.D9.83.D9.85_.D8.A7.D9.84.D9.88.D8.B6.D8.B9.D9.8A"><b>مقارنة
            بين الحكم التكليفي والحكم الوضعي</b></span></h2>
      <ul>
        <li> <span class="ql-ui"></span>الحكم التكليفي متعلِّق بفعل العبد أو تركه، أو التخيير بين الفعل والترك، أمَّا
          الوضعي فهو علامة يترتب عليها الحكم التكليفي وجوداً وعدماً، مثال ذلك: مِلكُ <a class="external text"
            routerLink="https://mawdoo3.com/%D9%85%D8%A7_%D9%87%D9%88_%D8%A7%D9%84%D9%86%D8%B5%D8%A7%D8%A8_%D9%81%D9%8A_%D8%A7%D9%84%D8%B2%D9%83%D8%A7%D8%A9">نصاب
            الزكاة</a>، وحولان الحول (حكم وضعي)، يترتب على وجودهما وجوب الزكاة، وهو (حكم تكليفي) يفعلُه المكلَّفُ أو لا
          يفعلُه، ويترتب على فعله الثواب وعلى تركه العقاب.<sup id="cite_ref-a63aa386_7933_43bd_823d_ed0be4cc8378_6-0"
            class="reference"><a routerLink="#cite_note-a63aa386_7933_43bd_823d_ed0be4cc8378-6">[٦]</a></sup></li>
        <li> <span class="ql-ui"></span>الحكم التكليفي فيه طلب الفعل، أو طلب الترك، أو التخيير بين الفعل والترك، أمَّا
          الحكم الوضعي فليس فيه طلب ولا تخيير، والحكم التكليفي في مقدور المكلَّف فعلُه أو تركُه، وأمَّا الوضعي فليس
          داخلاً في مقدور المكلَّف.<sup id="cite_ref-753ba3bb_dede_4da0_a69d_e3d5a7037201_7-0" class="reference"><a
              routerLink="#cite_note-753ba3bb_dede_4da0_a69d_e3d5a7037201-7">[٧]</a></sup></li>
      </ul>
      <p>مثال: زوال الشمس (حكم وضعي) ليس فيه طلب فعلٍ أو تركٍ، وليس داخلاً في مقدور المكلَّف، أمَّا وجوب صلاة الظهر فهو
        (حكم تكليفي) مطلوب فعله، وهو داخل في مقدور المكلَّف.<sup id="cite_ref-753ba3bb_dede_4da0_a69d_e3d5a7037201_7-1"
          class="reference"><a routerLink="#cite_note-753ba3bb_dede_4da0_a69d_e3d5a7037201-7">[٧]</a></sup></p>
      <h2 class="references-title"><span class="mw-headline"
          id=".D8.A7.D9.84.D9.85.D8.B1.D8.A7.D8.AC.D8.B9"><b>المراجع</b></span> <span
          class="text-center sign arrow-down"></span></h2>
      <ol class="references">
        <li id="cite_note-c57c0eaf_b0dd_43aa_b6ee_ea58845952a6-1"><span class="mw-cite-backlink"><a
              routerLink="#cite_ref-c57c0eaf_b0dd_43aa_b6ee_ea58845952a6_1-0">↑</a></span> <span class="reference-text">محمد
            الزحيلي، <i><a rel="nofollow" class="external text" routerLink="https://shamela.ws/book/17118/274">الوجيز في أصول
                الفقه</a></i>، صفحة 1 -393. بتصرّف.</span>
        </li>
        <li id="cite_note-300d37f2_9afa_4ef4_9c1e_4da72475d2d5-2"><span class="mw-cite-backlink"><a
              routerLink="#cite_ref-300d37f2_9afa_4ef4_9c1e_4da72475d2d5_2-0">↑</a></span> <span class="reference-text">جلال
            الدين المحلي، <i><a rel="nofollow" class="external text" routerLink="https://shamela.ws/book/21547/60">شرح الورقات
                في أصول الفقه</a></i>، صفحة 71 -76. بتصرّف.</span>
        </li>
        <li id="cite_note-a205d433_0cb2_4174_b9b1_a229f7d22f6b-3"><span class="mw-cite-backlink"><a
              routerLink="#cite_ref-a205d433_0cb2_4174_b9b1_a229f7d22f6b_3-0">↑</a></span> <span class="reference-text">محمد
            الزحيلي، <i><a rel="nofollow" class="external text" routerLink="https://shamela.ws/book/17118/275#p1">الوجيز في
                أصول الفقه</a></i>، صفحة 1 -294. بتصرّف.</span>
        </li>
        <li id="cite_note-e928996b_1b5e_409f_b175_0b1118d7cf29-4"><span class="mw-cite-backlink"><a
              routerLink="#cite_ref-e928996b_1b5e_409f_b175_0b1118d7cf29_4-0">↑</a></span> <span class="reference-text">عياض
            السلمي، <i><a rel="nofollow" class="external text" routerLink="https://shamela.ws/book/36379/60#p1">أصول الفقه
                الذي لا يسع الفقه جهله</a></i>، صفحة 56 -59. بتصرّف.</span>
        </li>
        <li id="cite_note-7be4d25f_e27d_4d76_89ad_34007804f019-5"><span class="mw-cite-backlink"><a
              routerLink="#cite_ref-7be4d25f_e27d_4d76_89ad_34007804f019_5-0">↑</a></span> <span class="reference-text">محمد
            الزحيلي، <i><a rel="nofollow" class="external text" routerLink="https://al-maktaba.org/book/33154/424#p1">الوجيز
                في أصول الفقه</a></i>، صفحة 1 -423 -426. بتصرّف.</span>
        </li>
        <li id="cite_note-a63aa386_7933_43bd_823d_ed0be4cc8378-6"><span class="mw-cite-backlink"><a
              routerLink="#cite_ref-a63aa386_7933_43bd_823d_ed0be4cc8378_6-0">↑</a></span> <span class="reference-text">محمد
            الزحيلي، <i><a rel="nofollow" class="external text" routerLink="https://shamela.ws/book/17118/275#p1">الوجيز في
                أصول الفقه</a></i>، صفحة 1 -294 -295. بتصرّف.</span>
        </li>
        <li id="cite_note-753ba3bb_dede_4da0_a69d_e3d5a7037201-7"><span class="mw-cite-backlink"><b>^</b> <a
              routerLink="#cite_ref-753ba3bb_dede_4da0_a69d_e3d5a7037201_7-0"><sup><i><b>أ</b></i></sup></a> <a
              routerLink="#cite_ref-753ba3bb_dede_4da0_a69d_e3d5a7037201_7-1"><sup><i><b>ب</b></i></sup></a></span> <span
            class="reference-text">محمد الزحيلي، <i><a rel="nofollow" class="external text"
                routerLink="https://shamela.ws/book/17118/276#p1">الوجيز في أصول الفقه</a></i>، صفحة 1 -294 -295.
            بتصرّف.</span>
        </li>
      </ol>
    </div>

    <!-- End Feedback Feature -->



  </div>
</div>
